@import './src/style/mixin.scss';

.todayItem {
  @include cardItem;

  &__description {
    @include cardDescription;
  }
  &__temp {
    @include cardTemp;
  }
  &__title {
    @include cardTitle;
  }
  &__celsusIcon {
    @include cardCelsusIcon;
  }
  &__abrev {
    font-size: $countryCod-fontSize;
    color: $countryCod-color;
    font-family: $countryCod-fontFamily;
  }
    
}
